@import '/app/CSS/colors.CSS';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* base styles */
html {
    margin: 0px 72px;
}

/* typography */
@font-face {
    font-family: Tan-Requiem;
    src: url(/app/CSS/TAN-REQUIEM.otf);
}

html {
    font-size: 17px;
}

h1 {
    font-family: "Tan-Requiem", serif;
    font-size: 3rem;
}

h2 {
    font-family: "Tan-Requiem", serif;
    font-size: 2.471rem;
}

h3 {
    font-family: "Tan-Requiem", serif;
    font-size: 2.059rem;
}

h4 {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 1.706rem;
}

h5 {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 1.412rem;
}

h6 {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 1.176rem;
}

.subheader {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 1.176rem;
}

p {
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
}

.xs-p {
    font-family: "Figtree", sans-serif;
    font-size: 0.82rem;
}

li {
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
}

a {
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
    text-decoration: none;
}


/* theme switch start  */
.toggle {
    height: 25px;
    width: 60px;
    background-color: var(--pearl-beige);
    border: 2px solid var(--summer-green);
    position: relative;
    border-radius: 100px;
    cursor: pointer;
}

.toggle::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--summer-green);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle.active::before {
    background-color: var(--summer-green);
    color: var(--green-pea);
    left: calc(100% - 25px);
}

/* theme switch end */

/* nav styles start */
nav {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 1.412rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
}

nav li {
    list-style-type: none;
    margin: 0px 25px;
}

/* button styles */
.btn-primary,
.btn-secondary {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 1.176rem;
    min-height: 45px;
    padding: 10px 15px;
}


/* nav styles end */

/* color modes start */
/* lightmode  */
body {
    background-color: var(--lightmode-bg);
    color: var(--lightmode-text);

    /* nav styles */

    nav a {
        color: var(--lightmode-text);
    }

    /* button styles */
    .btn-primary {
        background-color: var(--lightmode-btn-bg);
        color: var(--lightmode-btn-text);
    }

    .btn-primary:hover {
        background-color: var(--green-pea);
        color: var(--summer-green);
    }

    .btn-secondary {
        background-color: transparent;
        border: 2px solid var(--green-pea);
        color: var(--green-pea);
    }

    /* icons */
    i {
        color: var(--lightmode-text);
    }

    /* page color styles */
    .hero-img img {
        border: solid 2px var(--green-pea);
    }
}

/* dark mode */
body.dark {
    background-color: var(--darkmode-bg);
    color: var(--darkmode-text);

    /* nav styles */

    nav a {
        color: var(--darkmode-text);
    }

    /* button styles */
    .btn-primary {
        background-color: var(--darkmode-btn-bg);
        color: var(--darkmode-btn-text);
    }

    .btn-primary:hover {
        background-color: var(--summer-green);
        color: var(--green-pea);
    }

    /* icons */
    i {
        color: var(--darkmode-text);
    }

    /* page color styles */
    .hero-img img {
        border: solid 2px var(--summer-green);
    }
}

/* color modes end */